//
// Base
//



// Body
body {
	background: $kt-content-bg-color;
}

// Base
.kt-subheader {
	&.kt-subheader--clear {
		margin-bottom: 0 !important;
	}
}

// Desktop mode
@include kt-desktop {
	// Page
	.kt-wrapper {
		transition: kt-get($kt-aside-config, base, minimize, transition);

		// Fixed Header
		.kt-header--fixed & {
			padding-top: kt-get($kt-header-config, base, desktop, default, height);
		}

		// Fixed Content Head
		.kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled & {
			padding-top: kt-get($kt-header-config, base, desktop, default, height) + kt-get($kt-subheader-config, fixed, height);
		}

		// Fixed Aside
		.kt-aside--fixed & {
			padding-left: kt-get($kt-aside-config, base, default, width);
		}

		// Minimize Aside
		.kt-aside--fixed.kt-aside--minimize & {
			padding-left: kt-get($kt-aside-config, base, minimize, width);
			transition: kt-get($kt-aside-config, base, minimize, transition);
		}
	}

	// Subheader
	.kt-subheader {
		// Fixed subheader mode
		.kt-header--fixed.kt-subheader--fixed & {
			position: fixed;
			height: kt-get($kt-subheader-config, fixed, height);
			top: kt-get($kt-header-config, base, desktop, default, height);
			left: 0;
			right: 0;
			transition: all 0.3s ease;
			z-index: kt-get($kt-header-config, base, desktop, fixed, zindex) - 3;
			background-color: #fff;
			margin: 0;
		}

		// Fixed header, minimized header and fixed subheader
		.kt-header--fixed.kt-header--minimize.kt-subheader--fixed & {
			top: kt-get($kt-header-config, base, desktop, fixed, minimizeHeight);
			transition: top 0.3s ease;
		}

		.kt-aside--enabled.kt-subheader--fixed & {
			left: kt-get($kt-aside-config, base, default, width);
		}

		.kt-subheader--fixed.kt-aside--minimize-hover &,
		.kt-subheader--fixed.kt-aside--minimize & {
			left: kt-get($kt-aside-config, base, minimize, width);
			transition: kt-get($kt-aside-config, base, minimize, transition);
		}
	}

	// Container
	.kt-container {
		padding: 0 kt-get($kt-page-padding, desktop);
	}

	// Content & fixed subheader mode
	.kt-subheader--enabled:not(.kt-subheader--fixed) {
		.kt-content {
			padding-top: 0;
		}
	}
}

//
// Fixed container width change to fluid
// Aside removed
body:not(.kt-aside--enabled) {
	@include kt-media-range( lg, $kt-page-container-width + (2 * kt-get($kt-page-padding, desktop)) ) {
		.kt-container:not(.kt-container--fluid) {
			width: 100%;
		}
	}
}

// Default Aside
.kt-aside--enabled:not(.kt-aside--minimize) {
	@include kt-media-range( lg, $kt-page-container-width + $kt-aside-default-width + (2 * kt-get($kt-page-padding, desktop)) ) {
		.kt-container:not(.kt-container--fluid) {
			width: 100%;
		}
	}
}

// Minimized Aside
.kt-aside--enabled.kt-aside--minimize {
	@include kt-media-range( lg, $kt-page-container-width + $kt-aside-minimize-width + (2 * kt-get($kt-page-padding, desktop)) ) {
		.kt-container:not(.kt-container--fluid) {
			width: 100%;
		}
	}
}

// Tablet & mobile
@include kt-tablet-and-mobile {
	// Page
	.kt-wrapper {
		// Fixed Header
		.kt-header-mobile--fixed & {
			padding-top: kt-get($kt-header-config, base, mobile, self, default, height);
		}
	}

	// Container
	.kt-container {
		padding: 0 kt-get($kt-page-padding, mobile);
	}

	// Content & fixed subheader mode
	.kt-subheader--enabled {
		.kt-content {
			padding-top: 0;
		}
	}

	.kt-subheader--enabled.kt-subheader--solid {
		.kt-subheader {
			margin-bottom: kt-get($kt-page-padding, mobile);
		}
	}
}

.kt-subheader-in {
	position: fixed;
	top: -79px !important;
	right: 0 !important;
	left: 0 !important;
	box-shadow: 0px 10px 30px 0px rgba(82,63,105,0.08) !important;
}

@include kt-tablet-and-mobile {
	.kt-subheader-in {
		position: static !important;
		margin: 0 -15px 15px !important;
	}
}

.table-responsive-rounded {
	margin-bottom: 10px;
	border: 1px solid #ecedf2;
	border-radius: 10px;
}
.table-responsive-rounded .table {
	margin-bottom: 0;
}
.table-responsive .table-sm {
	min-width: 576px;
}
.table-responsive .table-md {
	min-width: 768px;
}
.table-responsive .table-lg {
	min-width: 992px;
}
.table-responsive .table-xl {
	min-width: 1200px;
}
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td {
	vertical-align: middle ;
}
.table > thead > tr > th:first-child,
.table > thead > tr > td:first-child,
.table > tbody > tr > th:first-child,
.table > tbody > tr > td:first-child {
	padding-left: 25px;
}
.table > thead > tr > th:last-child,
.table > thead > tr > td:last-child,
.table > tbody > tr > th:last-child,
.table > tbody > tr > td:last-child {
	padding-right: 25px;
}
.table > thead > tr > th p,
.table > thead > tr > td p,
.table > tbody > tr > th p,
.table > tbody > tr > td p {
	margin-bottom: 0;
}
.table > tbody > tr > td .btn-action {
	width: 80px;
}
.table > tbody > tr > td .btn-action-md {
	width: 100px;
}
.table > tbody > tr > td .btn-action-lg {
	width: 120px;
}
.table > tbody > tr > td .btn-action-xl {
	width: 140px;
}
.table-row-pointer {
	cursor: pointer;
}
.table-row-active {
	background-color: #f7f8fa;
}
.table-text-ellipsis {
	max-width: 15rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.kt-portlet__table__inputs {
	border-bottom: 1px solid #ebedf2;
}
.kt-portlet__table__inputs .form-group {
	margin-bottom: 1rem;
}
.kt-portlet__table__inputs .form-group:last-child {
	margin-bottom: 0;
}

.list-ic .img-fluid {
  margin: -1rem 0rem 1.8rem -2rem;
  padding: .5rem;
  border-radius: 50%;
  border: 0.4rem solid #212529;
  background-color: #fff;
  position: relative;
}
.list-ic a,
.list-ic p {
	display: block;
	position: relative;
	top: -1.8rem;
	left: 1rem;
	color: #212529;
	margin: 0;
}
.list-ic div {
	display: block;
    position: absolute;
    top: 3.2rem;
    left: 1.2rem;
}
.list-ic li {
  position: relative;
}
.list-ic li span {
  display: inline-block;
  font-weight: 800;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  border-radius: .75rem;
  background: #212529;
  color: white;
  position: relative;
}
.list-ic li::before {
  content: '';
  position: absolute;
  background: #212529;
}
.list-ic.horizontal li span {
  margin: 0 1em;
}
.list-ic.horizontal li::before {
  top: 1.2rem;
  left: -4.8rem;
  width: 3.2em;
  height: 0.4rem;
}
.list-ic.vertical {
  margin: 1.4rem 0 2.8rem;
  padding: 0;
}
.list-ic.vertical li {
  list-style-type: none;
  text-align: left;
  height: 6rem;
}
.list-ic.vertical li span {
  margin: 1.4em 0;
}
.list-ic.vertical li::before {
	top: -3rem;
	left: 0.6rem;
	width: 0.4em;
	height: 4.2em;
}

@include kt-tablet-and-mobile {
	.list-ic.horizontal {
		padding-left: 5rem;
	}
}

@include kt-desktop {
	.list-ic.horizontal > li {
		display: inline-block;
		vertical-align: top;
		width: 18rem;
	}
	.list-ic.horizontal > li::before {
		top: 1.6rem;
		left: -14.2rem;
		width: 12em;
		height: 0.4rem;
	}
	.list-ic.horizontal > li:first-child::before {
		display: none;
	}
}

